<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servana: Book Trusted Home Services & Handyman</title>
</head>
<body>
    <header>
        <nav class="container">
            <img src="logo.svg" alt="Netfix" class="logo">
            <ul class="nav-links">
                <li><a href="#">Log In</a></li>
                <li><a href="#">Become a Tasker</a></li>
                <li><a href="#" class="sign-up-btn">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <div class="container">
                <div class="hero-content">
                    <h1>Book trusted help for home tasks</h1>
                    <div class="search-bar">
                        <input type="text" placeholder="I need help with...">
                        <button>Get help today</button>
                    </div>
                </div>
            </div>
     </section>
    </main>
    
</body>
</html>